on early-init
    # Tweak IO performance during boot up
    setprop sys.io.scheduler noop
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sde/queue/read_ahead_kb 2048
    write /sys/block/sde/queue/iostats 0
    write /sys/block/sde/queue/nr_requests 256
    write /sys/block/sda/queue/iosched/slice_idle 0

on init
    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.sched_boost 10

on boot
    # Update foreground and background cpusets
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3

    # add a cpuset for the camera daemon
    # we want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

    # Set light thermal restrictions while optimizing apps
    # [throttle_freq_LITTLE, throttle_freq_big, throttle_temp, unthrottle_temp]
    write /sys/kernel/msm_thermal/zone0 "1286400 1670400 46 44"
    write /sys/kernel/msm_thermal/zone1 "1286400 1516800 50 46"
    write /sys/kernel/msm_thermal/zone2 "1036800 1286400 55 50"
    write /sys/kernel/msm_thermal/zone3 "768000 748800 65 55"
    write /sys/kernel/msm_thermal/enabled 1

on post-fs-data
    # Bind mount modules and custom system blobs
    mount auto /perfboostsconfig.xml /system/vendor/etc/perf/perfboostsconfig.xml bind
    mount auto /modules/ansi_cprng.ko /system/lib/modules/ansi_cprng.ko bind
    mount auto /modules/backlight.ko /system/lib/modules/backlight.ko bind
    mount auto /modules/br_netfilter.ko /system/lib/modules/br_netfilter.ko bind
    mount auto /modules/evbug.ko /system/lib/modules/evbug.ko bind
    mount auto /modules/generic_bl.ko /system/lib/modules/generic_bl.ko bind
    mount auto /modules/lcd.ko /system/lib/modules/lcd.ko bind
    mount auto /modules/rdbg.ko /system/lib/modules/rdbg.ko bind
    mount auto /modules/spidev.ko /system/lib/modules/spidev.ko bind
    mount auto /modules/wil6210.ko /system/lib/modules/wil6210.ko bind
    mount auto /modules/wlan.ko /system/lib/modules/qca_cld/qca_cld_wlan.ko bind

on enable-low-power
    # Configure governor settings for little cluster
    # Will only work if using EAS
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 10000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 0

    # Online CPU2
    write /sys/devices/system/cpu/cpu2/online 1

    # Configure governor settings for big cluster
    # Will only work if using EAS
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/down_rate_limit_us 10000
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/iowait_boost_enable 0

    # Input boost configuration
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:844800 2:691200"
    write /sys/module/cpu_boost/parameters/input_boost_ms 40
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 10

    # CPUFreq control
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200

    # Enable all LPMs by default
    # This will enable C4, D4, D3, E4 and M3 LPMs
    write /sys/module/lpm_levels/parameters/sleep_disabled "N"

    # Set idle GPU to 133 Mhz (sd821)
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 7

    # Enable Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 81250

    # Set I/O scheduler
    setprop sys.io.scheduler "maple"
    
    # Tweak IO performance after boot complete
    write /sys/block/dm-0/queue/scheduler "maple"
    write /sys/block/dm-1/queue/scheduler "maple"
    write /sys/block/sda/queue/scheduler "maple"
    write /sys/block/sde/queue/scheduler "maple"
    write /sys/block/dm-0/queue/read_ahead_kb 512
    write /sys/block/dm-1/queue/read_ahead_kb 512
    write /sys/block/sda/queue/read_ahead_kb 512
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sde/queue/read_ahead_kb 512
    write /sys/block/sde/queue/iostats 1
    write /sys/block/sde/queue/nr_requests 128
    
    # update cpusets now that boot is complete and we want better load balancing
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 2-3
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-2

    # Set thermal restrictions
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0 "1516800 2246400 46 45"
    write /sys/kernel/msm_thermal/zone1 "1440000 2150400 47 46"
    write /sys/kernel/msm_thermal/zone2 "1363200 2054400 48 47"
    write /sys/kernel/msm_thermal/zone3 "1363200 1977600 49 48"
    write /sys/kernel/msm_thermal/zone4 "1286400 1900800 50 49"
    write /sys/kernel/msm_thermal/zone5 "1286400 1824000 52 50"
    write /sys/kernel/msm_thermal/zone6 "1132800 1670400 54 52"
    write /sys/kernel/msm_thermal/zone7 "1056000 1363200 59 54"
    write /sys/kernel/msm_thermal/zone8 "902400 1056000 63 59"
    write /sys/kernel/msm_thermal/zone9 "844800 902400 65 63"
    write /sys/kernel/msm_thermal/zone10 "768000 748800 70 65"
    write /sys/kernel/msm_thermal/sampling_ms 4000
    write /sys/kernel/msm_thermal/enabled 1

    # according to Qcom this legacy value improves first launch latencies
    # stock value is 512k
    setprop dalvik.vm.heapminfree 2m

    # enable dynamic fsync
    write /sys/kernel/dyn_fsync/Dyn_fsync_active 1

    # exec user scripts
    exec u:r:init:s0 -- /init.special_power.sh
    exec u:r:su:s0 root root -- /init.special_power.sh
    exec u:r:magisk:s0 root root -- /init.special_power.sh

on property:sys.boot_completed=1
    trigger enable-low-power

    # write to dmsg
    write /dev/kmsg "mcd boot completed"

on property:init.svc.recovery=running
    trigger enable-low-power

service msm_irqbalance /vendor/bin/msm_irqbalance -f /vendor/etc/msm_irqbalance.conf
    socket msm_irqbalance seqpacket 660 root system
    class core
    user root
    group root
    writepid /dev/cpuset/system-background/tasks
